/*Crockpot CSS*/

img[src="img/crockpot-icon-white.png"]{
	width:48px;
	margin-top: -15px;
	display: inline-block;
	opacity: 0.9;
}

.navbar-default{
	background-color: #36454f;
	border-radius: 0;
	border-bottom: 2px solid tomato;
	
}

.navbar-default .navbar-brand{
	font-family: 'Acme', sans-serif;
	font-size: 4vh;
	color: white;
	display: inline-block;
}
.navbar-default .container-fluid 
.navbar-collapse .navbar-nav>li>a{
	color: white;
}
.navbar-default .container-fluid 
.navbar-collapse .navbar-nav>.active>a{
	color: white;
	background: tomato;
	border-radius: 5%;
}
.navbar-default .container-fluid 
.navbar-collapse .navbar-nav>.open>a{
	color: white;
	background: olive;
	border-radius: 5%;
}

.navbar-default .navbar-nav>li>a:hover{
	color: #f2f2f2;
}

.dropdown-menu{background-color: #36454f;}

.dropdown-menu > li > a:hover{
	background-color: salmon;
}

.dropdown-color{color: white !important}
.dropdown-color:hover{color: white !important}

/* main content container */

.background-color{
	background-color: #e6f7ff;
}

.container{
	padding: 75px 15px 38px 15px;
	display: flex;	
	justify-content: center;
	flex-wrap: wrap;
	width:90%;
}

.column-1{
	width: 600px;
}

.bgimg{
	background-image: url('img/wood.jpg');
	background-size: 100% auto;	
	height: 33vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bgimg h1{
	font-family: 'Acme', sans-serif;
	font-size: 6em;
	border: none;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	position: fixed;
	z-index: 1031;
	transition: all 500ms ease 0ms;
	
}

@media screen and (max-width: 600px) {
  .bgimg div h1{
    font-size: 2em;
	transition: all 250ms ease-out;
  }
}

.big-header{
	font-family: 'Acme', sans-serif;
	font-size: 3em;
	text-align: center;
}

.recipe-links{
	margin-top: 10px;
	border: 1px solid skyblue;
	padding: 5px 5px;
	border-radius: 6px;
	background-color: dodgerblue;
	text-decoration: none;
	color: white;
	display: inline-block;
}

.recipe-links:hover{
	margin-top: 10px;
	border: 1px solid skyblue;
	padding: 5px 5px;
	border-radius: 6px;
	background-color: slateblue;
	color: white;
	text-decoration: none;
	display: inline-block;
}

.line .bgimg{margin: 0;}

.line{
	border-top: 2px solid tomato;
	border-bottom: 2px solid oliveDrab;
}

h1{
	font-family: 'Acme', sans-serif;
	color: #36454f;
	padding: 5px 15px;
	display: inline-block;
}

@media screen and (min-width: 601px) {
  h1 {
	border: 2px solid skyblue;
	border-radius: 9px;
    font-size: 3em;
	transition: all 1s ease-out;
  }
}

@media screen and (max-width: 600px) {
  h1{
	border: 2px solid skyblue;
	border-radius: 9px;
    font-size: 2em;
	text-align: center;
	transition: all 1s ease-out;
  }
}

h2{
	font-family: 'Acme', sans-serif;
	font-size: 2em;
	color: #36454f;
}
